<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
  </head>
  <body>
    <div
      style="
        width: 100%;
        height: 4rem;
        text-align: center;
        vertical-align: middle;

        background: rgb(34, 195, 160);
        background: linear-gradient(
          90deg,
          rgba(34, 195, 160, 1) 0%,
          rgba(45, 168, 253, 1) 100%
        );
      "
      }
    >
      <h1
        style="
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 2rem;
          padding-top: 1rem;
          color: white;
        "
      >
        ABACI SIGNAGE
      </h1>
    </div>
    <div style="text-align: center">
      <h1
        style="
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 1.5rem;
          padding-top: 1rem;
          color: rgb(104, 100, 100);
        "
      >
        Hi {{name}}
        Forgot your password? No problem!
      </h1>
      <br />
      <h1
        style="
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 1rem;
          padding-top: 1rem;
          color: rgb(104, 100, 100);
        "
      >
        You can reset a new one now! Pleas use the below OTP to create a new
        one...
      </h1>
      <br />
      <br />
      <div
        style="
          position:
          relative;
          margin:
          auto;
          height:
          75px;
          width:
          150px;
          background-color:
          rgb(66,
          61,
          61);
          border-radius:
          5px;
          text-align:
          center;
        "
      >
        <h1
          style="
            font-family:Verdana,
            Geneva,
            Tahoma,
            sans-serif;
            font-size:
            1.5rem;
            padding-top:
            1.4rem;
            color:
            white;
          "
        >
          {{otp}}
        </h1>
      </div>
      <br />
      <br />
      <h1
        style="
          font-family:Verdana,
          Geneva,
          Tahoma,
          sans-serif;
          font-size:
          1rem;
          padding-top:
          1rem;
          color:
          rgb(104,
          100,
          100);
        "
      >
        If you didn't request a password reset you can delete this email.
      </h1>

      <hr />
      <h1
        style="
          font-family:Verdana,
          Geneva,
          Tahoma,
          sans-serif;
          font-size:
          .6rem;
          padding-top:
          1rem;
          font-weight:
          100;
          color:
          rgb(104,
          100,
          100);
        "
      >
        This is a transactional email. © 2021 ABACI Pvt Ltd. All rights
        reserved.
      </h1>
    </div>
  </body>
</html>
